<div class="home-description">
    <h1>Failed to Delete</h1>
    <p>This Customer cannot be deleted because there is Loan that dependant on the customer information. Please delete other customer that dont have any loan.</p>
    <button class="button-25"><a asp-action="Index">Back to Index</a></button>
</div>