@section Breadcrumbs{
    <span><a asp-action="Index"><h3>Home</h3></a></span>
}
@{
    Layout = "_Layout";
}
<div class="home-description">
    <h1>Selamat datang di Troll Market</h1>
    <p>Ini adalah market place yang tidak pernah ada promosi dan diskon</p>
    <p>Kenapa tema warnanya ijo? Biar nilai saya IJO</p>
</div>