<div class="home-description">
    <h1>Failed to Delete</h1>
    <p>This author cannot be deleted because there is book dependant on the author information. Please delete other author that dont have any book created.</p>
    <button class="button-25"><a asp-action="Index">Back to Index</a></button>
</div>