<header>
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>DASHBOARD</span>
    </div>
    <div class="user-wrapper">
        <partial name = "_LoginButton"></partial>
    </div>
</header>
<main>
    <div class="dashboard-wrapper">
        <div class="dashboard-container annual-income">
            <div class="header">
                <h1>Annual Income</h1>
            </div>
            <div class="body">
                <div class="chart"></div>
                <div class="analysis">
                    <div>
                        <span>Order Year : </span>
                        <select class="order-year">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <p>
                        Data on the left-hand side shows our income in the year <span class="highlight year"></span>.
                        The charts will show us the changes on every monthly period.
                    </p>
                    <p><span class="note">(Please hover your pointer to check the value on every month.)</span></p>
                    <p>The total income in <span class="highlight year"></span> is: <span class="highlight total-income"></span>.</p>
                    <p>
                        The fluctuation of our income compare to the previous year is <span class="highlight fluctuation"></span>.
                        <span class="note">(Positive value will show an increment, on the contrary the negative value will show us a decrement.)</span>
                    </p>
                    <p>The highest income lies on the period of <span class="highlight highest-period"></span>.</p>
                    <p>The lowest income lies on the period of <span class="highlight lowest-period"></span>.</p>
                </div>
            </div>
        </div>
        <div class="dashboard-container salesmen-comparison">
            <div class="header">
                <h1>Salesmen Comparison</h1>
            </div>
            <div class="body">
                <div class="year-dropdown">
                    <span>Order Year : </span>
                    <select class="order-year">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container salesman-performance">
            <div class="header">
                <h1>Salesman Performance</h1>
            </div>
            <div class="body">
                <div class="dashboard-filter">
                    <div>
                        <span>Order Year : </span>
                        <select class="order-year">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <div>
                        <span>Salesman : </span>
                        <select class="salesman-employee-number">
                            <option value="SU101">Cahya Tri Jayadi</option>
                            <option value="J776">Tubagus Imania</option>
                            <option value="J901">Banni Ayudhani</option>
                        </select>
                    </div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container income-by-region">
            <div class="header">
                <h1>Income By Region</h1>
            </div>
            <div class="body">
                <div class="year-dropdown">
                    <span>Order Year : </span>
                    <select class="order-year">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container customer-interest">
            <div class="header">
                <h1>Customer Interest</h1>
            </div>
            <div class="body">
                <div class="dashboard-filter">
                    <div>
                        <span>Order Year : </span>
                        <select class="order-year">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <div>
                        <span>Customer : </span>
                        <select class="customer-id">
                            <option value="1">ABC Market</option>
                            <option value="2">Blue Diamond</option>
                            <option value="3">Harvey Ltd</option>
                        </select>
                    </div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container category-popularity">
            <div class="header">
                <h1>Category Popularity</h1>
            </div>
            <div class="body">
                <div class="year-dropdown">
                    <span>Order Year : </span>
                    <select class="order-year">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>
                <div class="chart"></div>
            </div>
        </div>

        <div class="dashboard-container customer-activity">
            <div class="header">
                <h1>Customer Activity</h1>
            </div>
            <div class="body">
                <div class="dashboard-filter">
                    <div>
                        <span>Order Year : </span>
                        <select class="order-year">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <div>
                        <span>Customer : </span>
                        <option value="1">ABC Market</option>
                        <option value="2">Blue Diamond</option>
                        <option value="3">Harvey Ltd</option>
                    </div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
    </div>
</main>