<main>
    <div class="fail-container">
        <p>There are product(s) found which are catagorized by this category.</p>
        <p>You can't delete this category while those product(s) are dependent to this category.</p>
    </div>
    <a class="blue-button" asp-action="Index">back to index</a>
</main>
<footer>
    Copyrights &copy; 2021
    <span class="author">Boby Widjaja</span>
    All rights reserved.
</footer>