@{
    Layout = "_login-register";
}
<div class="authentication-wrapper">
    <main>
        <h1>Access Denied</h1>
        <p>Your role are not authorized to access this functionality of the system.</p>
        <p>Contact your administrator to get more information about your role authorization.</p>
        <div class="link-container">
            <a asp-controller="Dashboard" asp-action="Index">Back to landing page</a>
        </div>
    </main>
</div>