@using System.Security.Claims
@model Account.ChangePasswordVM
<header>
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>CHANGE PASSWORD</span>
    </div>
    <div class="user-wrapper">
        <partial name="_LoginButton"></partial>
    </div>
</header>
<main>
    <form method="post" class="upsert-form">
        <input type="hidden">
        <input type="hidden">
        <table>
            <tbody>
                <tr>
                    <td><label>Username</label></td>
                    <td>
                        <span th:text="*{username}">@User.FindFirstValue(ClaimTypes.Name)</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Old Password*</label></td>
                    <td>
                        <input type="password" asp-for="OldPassword" th:field="*{oldPassword}">
                        <div class="field-validation-error" th:errors="*{oldPassword}">@ViewBag.Message</div>
                        <div class="field-validation-error" th:errors="${dto}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>New Password*</label></td>
                    <td>
                        <input type="password" asp-for="NewPassword" th:field="*{newPassword}">
                        <div class="field-validation-error" th:errors="*{newPassword}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>New Password Confirmation*</label></td>
                    <td>
                        <input type="password" asp-for="ConfirmNewPassword" th:field="*{newPasswordConfirmation}">
                        <div class="field-validation-error" th:errors="*{newPasswordConfirmation}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="blue-button" type="submit">Change Password</button>
    </form>
</main>