@{
    Layout = "_login-register";
}
<div class="authentication-wrapper">
    <main>
        <h1>Sign In Fail</h1>
        <p>Your username or your password is incorrect, please try again</p>
        <div class="link-container">
            <a asp-action="Login">Try to login again</a>
        </div>
    </main>
</div>