@{
    Layout = "_login-register";
}
@model Account.LoginVM
<div class="authentication-wrapper">
    <main>
        <h1>Sign In</h1>
        <form method="post" asp-action="Login">
            <input type="hidden" />
            <input type="text" asp-for="Username" placeholder="username" autocomplete="off"/>
            <input type="password" asp-for="Password" placeholder="password"/>
            @* <div class="remember-me-container">
                <input type="checkbox" name="remember-me">
                <label>Remember Me</label>
            </div> *@
            <button type="submit">sign in</button>
        </form>
        <div class="link-container">
            <a asp-action="Register">Click here to register</a>
        </div>
    </main>
</div>
<script src="~/JS/login"></script>