<div class="denied-container">
    <h2>You are not Logged in</h2>
    <div>Please login first to access the menu</div>
    <button id="submit" class="button-25"><a asp-action="Index">Back to login page</a></button>
</div>
